$title-color : #003049;
$noDataText-color : #777777;
$bg-white-color : #FFFFFF;
$bg-th-color : #F3F3F3;
$bg-trhover-color : #F9F9F9;
$border-color : #DDDDDD;
$icons-color : #B0AEAE;
$icon-active-color : #0F6AEE;
