.dataList {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  
    &__title {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      color: #003049;
    }

    &__controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
      flex-wrap: wrap;
      gap: 1rem;
    }
  
    &__empty {
      text-align: center;
      font-style: italic;
      color: #777;
    }
  
    &__tableWrapper {
      overflow-x: auto;
    }
  
    &__table {
      min-width: 800px;
      width: 100%;
      border-collapse: collapse;
      font-size: 0.95rem;
  
      th, td {
        padding: 0.75rem 1rem;
        text-align: left;
        border-bottom: 1px solid #ddd;
        white-space: nowrap;
      }
  
      th {
        background-color: #f3f3f3;
        font-weight: 600;
      }
  
      tr:hover {
        background-color: #f9f9f9;
      }
    }

    &__th {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.3rem;
    }
  
    &__columnTitle {
      font-weight: inherit;
    }
  
    &__sortIcons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 0.6rem;
      color: rgb(176, 174, 174);
    }
  
    &__triangle {
      line-height: 0.8;
    }
  
    &__triangle.active {
      color: #0f6aee;
      font-weight: bold;
    }
  
    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1rem;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }