@import './-variables.scss';
@import './-mixins.scss';

.dataList {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: $bg-white-color;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  
    &__title {
      @include fontStyle(2rem, 700);
      text-align: center;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      color: $title-color;
    }

    &__controls {
      @include flexContainer(row, space-between, stretch);
      margin-bottom: 1rem;
      flex-wrap: wrap;
      gap: 1rem;
    }
  
    &__empty {
      text-align: center;
      font-style: italic;
      color: $noDataText-color;
    }
  
    &__tableWrapper {
      overflow-x: auto;
    }
  
    &__table {
      @include fontStyle(0.95rem, 400);
      min-width: 800px;
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 0.75rem 1rem;
        text-align: left;
        border-bottom: 1px solid $border-color;
        white-space: nowrap;
      }
  
      th {
        @include fontStyle(0.95rem, 600);
        background-color: $bg-th-color;
      }
  
      tr:hover {
        background-color: $bg-trhover-color;
      }
    }

    &__th {
      cursor: pointer;
      @include flexContainer(row, flex-start, center);
      gap: 0.3rem;
    }
  
    &__columnTitle {
      font-weight: inherit;
    }
  
    &__sortIcons {
      @include flexContainer(column, center, center);
      @include fontStyle(0.6rem, 600);
      font-size: 0.6rem;
      color: $icons-color;
    }
  
    &__triangle {
      line-height: 0.8;
    }
  
    &__triangle.active {
      color: $icon-active-color;
      font-weight: bold;
    }
  
    &__footer {
      @include flexContainer(row, space-between, stretch);
      margin-top: 1rem;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }